In [1]:
import pandas as pd

In [7]:
y12 = 5753
y10 = 5263
y08 = 4663
y06 = 4122
y04 = 3915
y02 = 3648
y0k = 3565

y11 = (y12+y10)/2
y09 = (y10+y08)/2
y07 = (y08+y06)/2
y05 = (y06+y04)/2
y03 = (y04+y02)/2
y01 = (y02+y0k)/2

y0k+y01+y02+y03+y04+y05+y06+y07+y08+y09+y10+y11+y12

57199.0

In [8]:
y12 = 5558
y11 = 5296
y09 = 4895
y07 = 4329
y05 = 3837
y03 = 3674
y01 = 3408
y00 = 3252

y10 = (y11+y09)/2
y08 = (y09+y07)/2
y06 = (y07+y05)/2
y04 = (y05+y03)/2
y02 = (y03+y01)/2
y0k = (y01+y00)/2

y0k+y01+y02+y03+y04+y05+y06+y07+y08+y09+y10+y11+y12

55414.0

In [13]:
years = [
    13141,
    13063,
    12757,
    12349,
    12187,
    12005,
    11842,
    11690,
    11363,
    10996,
    10690,
    10319,
    9953,
]
sum(years)

152355